<!DOCTYPE html>
<html>
<head>
    <title>Lost and Found</title>
</head>
<body>
    <header>
        <h1>Finders Keepers</h1>
    </header>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'main_feed' %}">Lost & Found Feed</a> |
        <a href="{% url 'upload' %}">Upload Item</a> |
        <a href="{% url 'about' %}">About</a> |
        {% if user.is_staff %}
            <a href="/admin/">Admin Panel</a> |
        {% endif %}
        
        {% if user.is_authenticated %}
            <span style="margin-left: 20px;">
                Logged in as {{ user.username }} |
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;color:blue;text-decoration:underline;cursor:pointer;">
                        Logout
                    </button>
                </form>
            </span>
        {% else %}
            <span style="margin-left: 20px;">
                <a href="{% url 'login' %}">Login</a>
            </span>
        {% endif %}
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>